
h1, h2 {
  display: inline-block;
  float: right;
  border: 1px solid red;
}

body {
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(../Images/54505806-abstract-marble-spring-colorful-texture-art-background-colorful-marble-effect-of-paint-and-paper-pai.jpg);
  background-size: cover;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(13, 50px);
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 50px);
}


.grid-element{
  font-family: 'Quattrocento', serif;
  font-size:35px;
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
  background-size: contain;
  border-radius: 5px;
  grid-column-gap: 110px;
  width: 300px;
  height: 50px;
  line-height: 50px;

}

.main{
  font-family: 'Amatic SC', cursive;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 10;
  font-size: 50px;
  text-align: center;
}

.footer{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 13;
  grid-row-end: 14;
  text-align: right;
}


.main-bg{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 14;
  background-color: white;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 10px;

}

.gif {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 13;
  width: 210px;
  height: 100px;
  margin: 0 auto;
}

.grid-element.A:hover {
  background-color: #9da0a5;
}

.grid-element.B:hover {
  background-color: #9da0a5;
}

.grid-element.C:hover {
  background-color: #9da0a5;
}

.grid-element.D:hover {
  background-color: #9da0a5;
}

.active {
  background-color: cyan;
}

a {
  text-decoration: none;
  color: black;
}

.about-me1{
  font-family: 'Amatic SC', cursive;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  font-size: 20px;
  text-align: justify;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

.about-me2{
  font-family: 'Amatic SC', cursive;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 10;
  font-size: 20px;
  text-align: justify;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;

}

.about-me3{
  font-family: 'Amatic SC', cursive;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 13;
  font-size: 20px;
  text-align: justify;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.img1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 19;
  margin: 0 auto;
  padding-top: 20px;
}

.img2{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  margin: 0 auto;
}

.img3{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 14;
  margin: 0 auto;
  padding: 20px;
}

.contact-header{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  font-size: 20px;
}


.contacth1{
  grid-column-start: 1;
  grid-row-start: 6;
  font-size: 20px;
  text-align: center;

}

.contacth2{
  grid-column-start: 2;
  grid-row-start: 6;
  font-size: 20px;
  text-align: center;
}

.contacth3{
  grid-column-start: 3;
  grid-row-start: 6;
  font-size: 20px;
  text-align: center;

}

.contacth4{
  grid-column-start: 4;
  grid-row-start: 6;
  font-size: 20px;
  text-align: center;

}

.contact1{
  grid-column-start: 1;
  grid-row-start: 8;
  font-size: 20px;
  text-align: center;
  padding-right: 20px;
  border-right: 5px solid black;
}

.contact2{
  grid-column-start: 2;
  grid-row-start: 8;
  font-size: 20px;
  text-align: center;
  padding-left: 20px;
  border-right: 5px solid black;

}

.contact3{
  grid-column-start: 3;
  grid-row-start: 8;
  font-size: 20px;
  text-align: center;
  border-right: 5px solid black;
}

.contact4{
  grid-column-start: 4;
  grid-row-start: 8;
  font-size: 20px;
  text-align: center;
}

.gallery{
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
figure{
  width: 200px;
  margin: 8px 0;
  border: 1px solid #777;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
  padding: 8px 4px;
}


.container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 13;
  
  

}

.or {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  text-align: center;
  font-size: 30px;
}

#fname{
  width: 500px;
  margin: 0, auto;
}

#country {
  width: 500px;
  margin: 0, auto;
}

#subject {
  width: 500px;
  margin: 0, auto;
}

.submission{
  padding-bottom: 50px;
margin: 0, auto;
}

.gadminHeading {

  text-align: center;
  font-size: 25px;

}